<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<true/>
					<key>File References</key>
					<array>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9vaxwDAAAAAAQQMAAA
							AECdp1fDaF82C+YqL1hV
							wO28tMINFosL3S/V3O/c
							/Y8dGAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAHNt
							aXJzaGVrYXJpAAwAAAAB
							AQAAZ2l0X3Byb2plY3Rz
							CAAAAAEBAABhcnRpY2xl
							cxQAAAABAQAAYXJlX21v
							c3RfcGVvcGxlX2RlYWQO
							AAAAAQEAAGRlYWRfYWxp
							dmUucGRmAAAYAAAAAQYA
							ABAAAAAgAAAANAAAAEgA
							AABYAAAAdAAAAAgAAAAE
							AwAAK7oAAAAAAAAIAAAA
							BAMAAHMdBQAAAAAACAAA
							AAQDAABiChkAAAAAAAgA
							AAAEAwAAFJ8qAAAAAAAI
							AAAABAMAACCgKgAAAAAA
							CAAAAAQDAAAnoCoAAAAA
							ABgAAAABBgAArAAAALwA
							AADMAAAA3AAAAOwAAAD8
							AAAACAAAAAAEAABBup+a
							xgAAABgAAAABAgAAAQAA
							AAAAAAAPAAAAAAAAAAAA
							AAAAAAAACAAAAAQDAAAE
							AAAAAAAAAAQAAAADAwAA
							9QEAAAgAAAABCQAAZmls
							ZTovLy8FAAAAAQEAAENo
							aWxkAAAACAAAAAQDAAAA
							AHQFOgAAAAgAAAAABAAA
							QbpypUoAAAAkAAAAAQEA
							AEZGNEZEMjk1LUE3OTUt
							MzkyMy1BREFBLTJENEY5
							Mzk0OTQ1MxgAAAABAgAA
							gQAAAAEAAADvEwAAAQAA
							AAAAAAAAAAAAAQAAAAEB
							AAAvAAAAAAAAAAEFAADM
							AAAA/v///wEAAAAAAAAA
							EAAAAAQQAACMAAAAAAAA
							AAUQAAAMAQAAAAAAABAQ
							AAA8AQAAAAAAAEAQAAAs
							AQAAAAAAAAIgAAAEAgAA
							AAAAAAUgAAB4AQAAAAAA
							ABAgAACIAQAAAAAAABEg
							AAC4AQAAAAAAABIgAACY
							AQAAAAAAABMgAACoAQAA
							AAAAACAgAADkAQAAAAAA
							ADAgAAAQAgAAAAAAAAHA
							AABcAQAAAAAAABHAAAAg
							AAAAAAAAABLAAABsAQAA
							AAAAABDQAAAEAAAAAAAA
							AA==
							</data>
							<key>clientIdentifier</key>
							<string>document</string>
							<key>fullPath</key>
							<string>/Users/smirshekari/git_projects/articles/are_most_people_dead/dead_alive.pdf</string>
							<key>identifier</key>
							<string>DE1E48BB-D49C-4355-BE52-8C8CC8E1742D</string>
						</dict>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9vaxwDAAAAAAQQMAAA
							AB/iBGduJpRLp2NaiLPi
							vwJrshj1y6LcKqxbyeFz
							ZF1/GAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAHNt
							aXJzaGVrYXJpAAwAAAAB
							AQAAZ2l0X3Byb2plY3Rz
							CAAAAAEBAABhcnRpY2xl
							cw8AAAABAQAAZmFyc2lf
							R1dzX2ludHJvABIAAAAB
							AQAAZmFyc2lfR1dfaW50
							cm8ucGRmAAAYAAAAAQYA
							ABAAAAAgAAAANAAAAEgA
							AABYAAAAcAAAAAgAAAAE
							AwAAK7oAAAAAAAAIAAAA
							BAMAAHMdBQAAAAAACAAA
							AAQDAABiChkAAAAAAAgA
							AAAEAwAAFJ8qAAAAAAAI
							AAAABAMAADegKgAAAAAA
							CAAAAAQDAAA9oCoAAAAA
							ABgAAAABBgAArAAAALwA
							AADMAAAA3AAAAOwAAAD8
							AAAACAAAAAAEAABBup+a
							xwAAABgAAAABAgAAAQAA
							AAAAAAAPAAAAAAAAAAAA
							AAAAAAAACAAAAAQDAAAE
							AAAAAAAAAAQAAAADAwAA
							9QEAAAgAAAABCQAAZmls
							ZTovLy8FAAAAAQEAAENo
							aWxkAAAACAAAAAQDAAAA
							AHQFOgAAAAgAAAAABAAA
							QbpypUoAAAAkAAAAAQEA
							AEZGNEZEMjk1LUE3OTUt
							MzkyMy1BREFBLTJENEY5
							Mzk0OTQ1MxgAAAABAgAA
							gQAAAAEAAADvEwAAAQAA
							AAAAAAAAAAAAAQAAAAEB
							AAAvAAAAAAAAAAEFAADM
							AAAA/v///wEAAAAAAAAA
							EAAAAAQQAACMAAAAAAAA
							AAUQAAAMAQAAAAAAABAQ
							AAA8AQAAAAAAAEAQAAAs
							AQAAAAAAAAIgAAAEAgAA
							AAAAAAUgAAB4AQAAAAAA
							ABAgAACIAQAAAAAAABEg
							AAC4AQAAAAAAABIgAACY
							AQAAAAAAABMgAACoAQAA
							AAAAACAgAADkAQAAAAAA
							ADAgAAAQAgAAAAAAAAHA
							AABcAQAAAAAAABHAAAAg
							AAAAAAAAABLAAABsAQAA
							AAAAABDQAAAEAAAAAAAA
							AA==
							</data>
							<key>clientIdentifier</key>
							<string>document</string>
							<key>fullPath</key>
							<string>/Users/smirshekari/git_projects/articles/farsi_GWs_intro/farsi_GW_intro.pdf</string>
							<key>identifier</key>
							<string>C78A063C-0961-4DC2-BBCC-3DC40405A6B9</string>
						</dict>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9vayQDAAAAAAQQMAAA
							ALiAkEimdfaSFiSl4o6n
							1TC932cZl3X6VApV4Jd1
							f0X/IAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAHNt
							aXJzaGVrYXJpAAwAAAAB
							AQAAZ2l0X3Byb2plY3Rz
							CAAAAAEBAABhcnRpY2xl
							cxIAAAABAQAAd2hlcmVf
							YXJlX3lvdV9mcm9tAAAX
							AAAAAQEAAFdoZXJlIGFy
							ZSB5b3UgZnJvbT8ucGRm
							ABgAAAABBgAAEAAAACAA
							AAA0AAAASAAAAFgAAAB0
							AAAACAAAAAQDAAArugAA
							AAAAAAgAAAAEAwAAcx0F
							AAAAAAAIAAAABAMAAGIK
							GQAAAAAACAAAAAQDAAAU
							nyoAAAAAAAgAAAAEAwAA
							RKAqAAAAAAAIAAAABAMA
							AEigKgAAAAAAGAAAAAEG
							AAC0AAAAxAAAANQAAADk
							AAAA9AAAAAQBAAAIAAAA
							AAQAAEG6n5rHAAAAGAAA
							AAECAAABAAAAAAAAAA8A
							AAAAAAAAAAAAAAAAAAAI
							AAAABAMAAAQAAAAAAAAA
							BAAAAAMDAAD1AQAACAAA
							AAEJAABmaWxlOi8vLwUA
							AAABAQAAQ2hpbGQAAAAI
							AAAABAMAAAAAdAU6AAAA
							CAAAAAAEAABBunKlSgAA
							ACQAAAABAQAARkY0RkQy
							OTUtQTc5NS0zOTIzLUFE
							QUEtMkQ0RjkzOTQ5NDUz
							GAAAAAECAACBAAAAAQAA
							AO8TAAABAAAAAAAAAAAA
							AAABAAAAAQEAAC8AAAAA
							AAAAAQUAAMwAAAD+////
							AQAAAAAAAAAQAAAABBAA
							AJQAAAAAAAAABRAAABQB
							AAAAAAAAEBAAAEQBAAAA
							AAAAQBAAADQBAAAAAAAA
							AiAAAAwCAAAAAAAABSAA
							AIABAAAAAAAAECAAAJAB
							AAAAAAAAESAAAMABAAAA
							AAAAEiAAAKABAAAAAAAA
							EyAAALABAAAAAAAAICAA
							AOwBAAAAAAAAMCAAABgC
							AAAAAAAAAcAAAGQBAAAA
							AAAAEcAAACAAAAAAAAAA
							EsAAAHQBAAAAAAAAENAA
							AAQAAAAAAAAA
							</data>
							<key>clientIdentifier</key>
							<string>document</string>
							<key>fullPath</key>
							<string>/Users/smirshekari/git_projects/articles/where_are_you_from/Where are you from?.pdf</string>
							<key>identifier</key>
							<string>43FF6BF3-F6B6-4829-A4AE-3519B29C9AFF</string>
						</dict>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9va0QDAAAAAAQQMAAA
							ADrf6un8ck1rafFldRtc
							IJrYQOUFWyF9k0MXZxux
							0VFlQAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAHNt
							aXJzaGVrYXJpAAwAAAAB
							AQAAZ2l0X3Byb2plY3Rz
							DAAAAAEBAABwb3N0ZG9j
							LTIwMTUCAAAAAQEAAENW
							AAALAAAAAQEAAGJ1c3lu
							ZXNzLWN2ABUAAAABAQAA
							bWlyc2hla2FyaV9yZXN1
							bWUucGRmAAAAHAAAAAEG
							AAAQAAAAIAAAADQAAABI
							AAAAXAAAAGgAAAB8AAAA
							CAAAAAQDAAArugAAAAAA
							AAgAAAAEAwAAcx0FAAAA
							AAAIAAAABAMAAGIKGQAA
							AAAACAAAAAQDAAApPhQA
							AAAAAAgAAAAEAwAAUxIZ
							AAAAAAAIAAAABAMAAGgQ
							KwAAAAAACAAAAAQDAACs
							GTsBAAAAABwAAAABBgAA
							wAAAANAAAADgAAAA8AAA
							AAABAAAQAQAAIAEAAAgA
							AAAABAAAQbrvGrEAAAAY
							AAAAAQIAAAEAAAAAAAAA
							DwAAAAAAAAAAAAAAAAAA
							AAgAAAAEAwAABQAAAAAA
							AAAEAAAAAwMAAPUBAAAI
							AAAAAQkAAGZpbGU6Ly8v
							BQAAAAEBAABDaGlsZAAA
							AAgAAAAEAwAAAAB0BToA
							AAAIAAAAAAQAAEG6cqVK
							AAAAJAAAAAEBAABGRjRG
							RDI5NS1BNzk1LTM5MjMt
							QURBQS0yRDRGOTM5NDk0
							NTMYAAAAAQIAAIEAAAAB
							AAAA7xMAAAEAAAAAAAAA
							AAAAAAEAAAABAQAALwAA
							AAAAAAABBQAAzAAAAP7/
							//8BAAAAAAAAABAAAAAE
							EAAAnAAAAAAAAAAFEAAA
							MAEAAAAAAAAQEAAAZAEA
							AAAAAABAEAAAVAEAAAAA
							AAACIAAALAIAAAAAAAAF
							IAAAoAEAAAAAAAAQIAAA
							sAEAAAAAAAARIAAA4AEA
							AAAAAAASIAAAwAEAAAAA
							AAATIAAA0AEAAAAAAAAg
							IAAADAIAAAAAAAAwIAAA
							OAIAAAAAAAABwAAAhAEA
							AAAAAAARwAAAIAAAAAAA
							AAASwAAAlAEAAAAAAAAQ
							0AAABAAAAAAAAAA=
							</data>
							<key>clientIdentifier</key>
							<string>page4</string>
							<key>fullPath</key>
							<string>/Users/smirshekari/git_projects/postdoc-2015/CV/busyness-cv/mirshekari_resume.pdf</string>
							<key>identifier</key>
							<string>B72A2E1E-5E6E-4D0C-97E9-5EA5A54810CE</string>
						</dict>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9vayADAAAAAAQQMAAA
							ABXZYJizP18yg4WWDQof
							UYvZx5TyqsoweLzMcYfU
							HnriHAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAHNt
							aXJzaGVrYXJpAAUAAAAB
							AQAAU2l0ZXMAAAAOAAAA
							AQEAAFNhZWVkX0hvbWVw
							YWdlAAAJAAAAAQEAAHJl
							c291cmNlcwAAABUAAAAB
							AQAAbWlyc2hla2FyaV9y
							ZXN1bWUucGRmAAAAGAAA
							AAEGAAAQAAAAIAAAADQA
							AABEAAAAXAAAAHAAAAAI
							AAAABAMAACu6AAAAAAAA
							CAAAAAQDAABzHQUAAAAA
							AAgAAAAEAwAAEdsfAAAA
							AAAIAAAABAMAALvHVwAA
							AAAACAAAAAQDAABYyFcA
							AAAAAAgAAAAEAwAAGw8N
							AgAAAAAYAAAAAQYAALAA
							AADAAAAA0AAAAOAAAADw
							AAAAAAEAAAgAAAAABAAA
							QbrvGrEAAAAYAAAAAQIA
							AAEAAAAAAAAADwAAAAAA
							AAAAAAAAAAAAAAgAAAAE
							AwAABAAAAAAAAAAEAAAA
							AwMAAPUBAAAIAAAAAQkA
							AGZpbGU6Ly8vBQAAAAEB
							AABDaGlsZAAAAAgAAAAE
							AwAAAAB0BToAAAAIAAAA
							AAQAAEG6cqVKAAAAJAAA
							AAEBAABGRjRGRDI5NS1B
							Nzk1LTM5MjMtQURBQS0y
							RDRGOTM5NDk0NTMYAAAA
							AQIAAIEAAAABAAAA7xMA
							AAEAAAAAAAAAAAAAAAEA
							AAABAQAALwAAAAAAAAAB
							BQAAzAAAAP7///8BAAAA
							AAAAABAAAAAEEAAAkAAA
							AAAAAAAFEAAAEAEAAAAA
							AAAQEAAAQAEAAAAAAABA
							EAAAMAEAAAAAAAACIAAA
							CAIAAAAAAAAFIAAAfAEA
							AAAAAAAQIAAAjAEAAAAA
							AAARIAAAvAEAAAAAAAAS
							IAAAnAEAAAAAAAATIAAA
							rAEAAAAAAAAgIAAA6AEA
							AAAAAAAwIAAAFAIAAAAA
							AAABwAAAYAEAAAAAAAAR
							wAAAIAAAAAAAAAASwAAA
							cAEAAAAAAAAQ0AAABAAA
							AAAAAAA=
							</data>
							<key>clientIdentifier</key>
							<string>page4</string>
							<key>fullPath</key>
							<string>/Users/smirshekari/Sites/Saeed_Homepage/resources/mirshekari_resume.pdf</string>
							<key>identifier</key>
							<string>EEDA0777-864F-46A2-9ADA-C43935DD05A8</string>
						</dict>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9va0ADAAAAAAQQMAAA
							ACrrcECt4z+1gpS9kQH/
							ngV3gpAhyBgB08e974lC
							BdNXPAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAHNt
							aXJzaGVrYXJpAAwAAAAB
							AQAAZ2l0X3Byb2plY3Rz
							DAAAAAEBAABwb3N0ZG9j
							LTIwMTUCAAAAAQEAAENW
							AAALAAAAAQEAAGJ1c3lu
							ZXNzLWN2ABEAAAABAQAA
							bXlwYXRoX3RvX0RTLmpw
							ZWcAAAAcAAAAAQYAABAA
							AAAgAAAANAAAAEgAAABc
							AAAAaAAAAHwAAAAIAAAA
							BAMAACu6AAAAAAAACAAA
							AAQDAABzHQUAAAAAAAgA
							AAAEAwAAYgoZAAAAAAAI
							AAAABAMAACk+FAAAAAAA
							CAAAAAQDAABTEhkAAAAA
							AAgAAAAEAwAAaBArAAAA
							AAAIAAAABAMAAGd3pAIA
							AAAAHAAAAAEGAAC8AAAA
							zAAAANwAAADsAAAA/AAA
							AAwBAAAcAQAACAAAAAAE
							AABBvlJgOwAAABgAAAAB
							AgAAAQAAAAAAAAAPAAAA
							AAAAAAAAAAAAAAAACAAA
							AAQDAAAFAAAAAAAAAAQA
							AAADAwAA9QEAAAgAAAAB
							CQAAZmlsZTovLy8FAAAA
							AQEAAENoaWxkAAAACAAA
							AAQDAAAAAHQFOgAAAAgA
							AAAABAAAQbpypUoAAAAk
							AAAAAQEAAEZGNEZEMjk1
							LUE3OTUtMzkyMy1BREFB
							LTJENEY5Mzk0OTQ1MxgA
							AAABAgAAgQAAAAEAAADv
							EwAAAQAAAAAAAAAAAAAA
							AQAAAAEBAAAvAAAAAAAA
							AAEFAADMAAAA/v///wEA
							AAAAAAAAEAAAAAQQAACY
							AAAAAAAAAAUQAAAsAQAA
							AAAAABAQAABgAQAAAAAA
							AEAQAABQAQAAAAAAAAIg
							AAAoAgAAAAAAAAUgAACc
							AQAAAAAAABAgAACsAQAA
							AAAAABEgAADcAQAAAAAA
							ABIgAAC8AQAAAAAAABMg
							AADMAQAAAAAAACAgAAAI
							AgAAAAAAADAgAAA0AgAA
							AAAAAAHAAACAAQAAAAAA
							ABHAAAAgAAAAAAAAABLA
							AACQAQAAAAAAABDQAAAE
							AAAAAAAAAA==
							</data>
							<key>clientIdentifier</key>
							<string>document</string>
							<key>fullPath</key>
							<string>/Users/smirshekari/git_projects/postdoc-2015/CV/busyness-cv/mypath_to_DS.jpeg</string>
							<key>identifier</key>
							<string>FFCF2FDF-625B-47AE-9104-6AA7BA9985B9</string>
						</dict>
					</array>
				</dict>
				<key>Minimum Application Version</key>
				<string>6.0</string>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUG1dZYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QLwcIExQVHyY2
				Nzg5PUNHUFFSU1ZfYGFiZW5vcHF0eISIlJyfo6ivtLe7
				wMPIy8/TVSRudWxs0wkKCwwPEldOUy5rZXlzWk5TLm9i
				amVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgCOALlhkYXRh
				YmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmllciBN
				YXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2VzgC2A
				HYAsgB+ABdIKCyAlpCEiIySABoANgBKAF4Ac2CcLKCkq
				KywtLi8wMDIzNDVXQ2hhbmdlZFxQdWJsaXNoZWRVUkxd
				UHVibGlzaGVkRGF0ZVROYW1lWklkZW50aWZpZXJZVGlt
				ZVN0YW1wWUZpbGVUb2tlbgmADIAAgACACIAHgAqACV8Q
				JEMwNTI1MUE5LTY1RUItNEVEMC1BNDMxLThBQkVGRDc3
				RjYwRl8QFndoZXJlX2FyZV95b3VfZnJvbS5wZGZfECQ0
				M0ZGNkJGMy1GNkI2LTQ4MjktQTRBRS0zNTE5QjI5QzlB
				RkbSOgs7PFdOUy50aW1lI0G6n5r8AAAAgAvSPj9AQVok
				Y2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaJAQlhOU09i
				amVjdNI+P0RFXlJXU2l0ZVJlc291cmNlokZCXlJXU2l0
				ZVJlc291cmNl2CcLKCkqKywtLi8wMExNTk8JgAyAAIAA
				gA+ADoARgBBfECRCQjZEN0IyOS04REM0LTQzOTctQjRF
				Qy00QkMzRjUwNzM0QTJfEBJmYXJzaV9HV19pbnRyby5w
				ZGZfECRDNzhBMDYzQy0wOTYxLTREQzItQkJDQy0zREM0
				MDQwNUE2QjnSOgtUPCNBup+a8wAAAIAL2CcLKCkqKywt
				Li8wMFtcXV4JgAyAAIAAgBSAE4AWgBVfECRFNTE0RjA3
				OC1CNkY0LTRBRkMtQTMzOS1GOTdEQTA0RUFFMzlfEBFt
				eXBhdGhfdG9fRFMuanBlZ18QJEZGQ0YyRkRGLTYyNUIt
				NDdBRS05MTA0LTZBQTdCQTk5ODVCOdI6C2M8I0G+gZ9i
				AAAAgAvYJwsoKSorLC0uLzAwamtsbQmADIAAgACAGYAY
				gBuAGl8QJDVEMUZFQkM4LTVGNTctNEU0RS1BRUJDLThG
				OEY2OTBFQzlCMl5kZWFkX2FsaXZlLnBkZl8QJERFMUU0
				OEJCLUQ0OUMtNDM1NS1CRTUyLThDOENDOEUxNzQyRNI6
				C3I8I0G6n5rpAAAAgAvSPj91dlxOU011dGFibGVTZXSj
				dXdCVU5TU2V00wkKC3l+g6QzXE1rgAeAE4AOgBikISMi
				JIAGgBKADYAXgB7SPj+Fhl8QE05TTXV0YWJsZURpY3Rp
				b25hcnmjhYdCXE5TRGljdGlvbmFyedMJCguJjoOkM1xN
				a4AHgBOADoAYpI+QkZKAIIAqgCiAJYAe1AuVlpeYmREh
				WENoaWxkcmVuVlBhcmVudF8QElJlcHJlc2VudGVkIE9i
				amVjdIAngCGAI4AG0goLnZ6ggCLSPj+goV5OU011dGFi
				bGVBcnJheaOgokJXTlNBcnJhedQLlZaXmKUwMIAngCSA
				AIAA0goLqZ6kkpGPkIAlgCiAIIAqgCLUC5WWl5ixESSA
				J4AmgCOAF9IKC7WeoIAi0j4/uLlfEBBSV1NvdXJjZUxp
				c3ROb2RlorpCXxAQUldTb3VyY2VMaXN0Tm9kZdQLlZaX
				mL0RIoAngCmAI4AN0goLwZ6ggCLUC5WWl5jFESOAJ4Ar
				gCOAEtIKC8meoIAi0wkKC8zNg6CggB7SPj/Q0V8QElJX
				UmVzb3VyY2VEYXRhYmFzZaLSQl8QElJXUmVzb3VyY2VE
				YXRhYmFzZdI+P4fUoodCXxAPTlNLZXllZEFyY2hpdmVy
				0dfYVHJvb3SAAQAIABEAGgAjAC0AMgA3AGkAbwB2AH4A
				iQCQAJMAlQCXAJoAnACeAKAAqQCuALkAyADRANoA5ADm
				AOgA6gDsAO4A8wD4APoA/AD+AQABAgETARsBKAE2ATsB
				RgFQAVoBWwFdAV8BYQFjAWUBZwFpAZABqQHQAdUB3QHm
				AegB7QH4AgECCAILAhQCGQIoAisCOgJLAkwCTgJQAlIC
				VAJWAlgCWgKBApYCvQLCAssCzQLeAt8C4QLjAuUC5wLp
				AusC7QMUAygDTwNUA10DXwNwA3EDcwN1A3cDeQN7A30D
				fwOmA7UD3APhA+oD7APxA/4EAgQIBA8EFAQWBBgEGgQc
				BCEEIwQlBCcEKQQrBDAERgRKBFcEXgRjBGUEZwRpBGsE
				cARyBHQEdgR4BHoEgwSMBJMEqASqBKwErgSwBLUEtgS4
				BL0EzATQBNgE4QTjBOUE5wTpBO4E8wT1BPcE+QT7BP0F
				BgUIBQoFDAUOBRMFFAUWBRsFLgUxBUQFTQVPBVEFUwVV
				BVoFWwVdBWYFaAVqBWwFbgVzBXQFdgV9BX4FfwWBBYYF
				mwWeBbMFuAW7Bc0F0AXVAAAAAAAAAgEAAAAAAAAA2QAA
				AAAAAAAAAAAAAAAABdc=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://www.physics.wustl.edu/smirshekari</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© Saeed Mirshekari</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DefaultExportPath</key>
					<string>/Users/smirshekari/Sites/Saeed_Homepage</string>
					<key>DefaultExportPathBookmark</key>
					<data>
					Ym9va7wCAAAAAAQQMAAAAAlqZK1qowUbyeqY
					JZBi0xcNqhxBZhKVU/jfj1EXt8PluAEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAL
					AAAAAQEAAHNtaXJzaGVrYXJpAAUAAAABAQAA
					U2l0ZXMAAAAOAAAAAQEAAFNhZWVkX0hvbWVw
					YWdlAAAQAAAAAQYAABAAAAAgAAAANAAAAEQA
					AAAIAAAABAMAACu6AAAAAAAACAAAAAQDAABz
					HQUAAAAAAAgAAAAEAwAAEdsfAAAAAAAIAAAA
					BAMAALvHVwAAAAAAEAAAAAEGAAB0AAAAhAAA
					AJQAAACkAAAACAAAAAAEAABBuvkcCAAAABgA
					AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
					AAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA
					9QEAAAgAAAABCQAAZmlsZTovLy8FAAAAAQEA
					AENoaWxkAAAACAAAAAQDAAAAAHQFOgAAAAgA
					AAAABAAAQbpypUoAAAAkAAAAAQEAAEZGNEZE
					Mjk1LUE3OTUtMzkyMy1BREFBLTJENEY5Mzk0
					OTQ1MxgAAAABAgAAgQAAAAEAAADvEwAAAQAA
					AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
					AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABc
					AAAAAAAAAAUQAAC0AAAAAAAAABAQAADcAAAA
					AAAAAEAQAADMAAAAAAAAAAIgAACkAQAAAAAA
					AAUgAAAYAQAAAAAAABAgAAAoAQAAAAAAABEg
					AABYAQAAAAAAABIgAAA4AQAAAAAAABMgAABI
					AQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAA
					AAAAAAHAAAD8AAAAAAAAABHAAAAgAAAAAAAA
					ABLAAAAMAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string>saeed.mirshekari@gmail.com</string>
					<key>FavIcon</key>
					<data>
					AAABAAEAGBgAAAEAIACICQAAFgAAACgAAAAY
					AAAAMAAAAAEAIAAAAAAAAAkAABILAAASCwAA
					AAAAAAAAAAD///8A////AP///wD///8A////
					AP///wD///8A////AP///wD///8A////AAAA
					AAEAAAABAAAAAf///wD///8A////AP///wD/
					//8A////AP///wD///8A////AP///wD///8A
					////AP///wD///8A////AP///wAkJCQEOTkv
					EDcyLR82Mi8rNjMtMzc0Lzg1NS06NzQvODc0
					LjI1NS4oNTUvGjMzMwwzMzMD////AP///wD/
					//8A////AP///wD///8A////AP///wD///8A
					AAAAATU1LBE1NSwjNzQvNUhJRnxNUE2sV1ta
					2lZaWPdWWlj3V1tZ3ExPTLJGR0WGODUvRTYz
					LTM1NSwjNzcuEQAAAAH///8A////AP///wD/
					//8A////AP///wD///8AQCsrBzU1LxpDRkNO
					WFxa32pua/d8gX/+c3d2/2xwbv9yd3X/eXx7
					/3Z6ef5maWf6V1xZ4kFDQF00NC0sNTUvGkAr
					Kwf///8A////AP///wD///8A////AP///wD/
					//8AgICAAlRYVoFaXVv1payp/YeLif9fYmH/
					W15d/1VZV/9VWVf/W15d/19iYf9na2n/eX17
					/llcWvdSVlOJPDw8Ef///wD///8A////AP//
					/wD///8A////AP///wD///8AVltZeXF1cvPK
					0M7/oKWj/1RYVv9TV1X/U1dV/1NXVf9TV1X/
					U1dV/1NXVf9UWFb/YmZk/3Bzcv9rb2z2VltZ
					ef///wD///8A////AP///wD///8A////AP//
					/wBRV1cpXF5d9MvRzv/X3dr/bXFv/1NXVf9T
					V1X/l5qZ/9ze3v+Xmpn/U1dV/1NXVf9TV1X/
					U1dV/1tfXf92eXj/W11c9VFXVyn///8A////
					AP///wD///8A////AFVVVQNaX1zVqa+t/dbd
					2v/Y3tz/Wl9d/1NXVf9TV1X/3N7e/+zu7v/c
					3t7/U1dV/1NXVf9TV1X/U1dV/1NXVf9laGf/
					eX17/lpfXNVVVVUD////AP///wD///8A////
					AFNWVk1vc3D0193a/9bc2f/Y3tz/dXp3/1NX
					Vf9TV1X/l5qZ/9ze3v+Xmpn/U1dV/1NXVf9T
					V1X/U1dV/1NXVf9UWFb/cHNy/2pubPVTVlZN
					////AP///wD///8A////AFVZV4SXnZr81tzY
					/9fd2v/X3tv/rrOw/1NXVf9TV1X/U1dV/1NX
					Vf9TV1X/U1dV/1NXVf9TV1X/U1dV/1NXVf9T
					V1X/ZWln/36Dgf1VWVeE////AP///wD///8A
					////AFtgX8SzuLf/1dzZ/9Xc2f/Y3tv/2d/d
					/5idm/9TV1X/U1dV/1NXVf9TV1X/U1dV/1NX
					Vf9TV1X/U1dV/1NXVf9TV1X/X2Nh/32CgP9b
					YF/E////AP///wD///8A////AFdcWvLM0s//
					09rW/9Tc2P/X3dr/2N/c/9rf3f+9w8D/fYKA
					/2FlY/9TV1X/U1dV/1NXVf9TV1X/U1dV/1NX
					Vf9TV1X/WFxa/4WIhv9XXFry////AP///wD/
					//8A////AFdcWvLN09D/0tnW/9Pa1//V29j/
					1t3a/9nf3P/a4N3/2uDd/9vh3v/Hzsz/oKWj
					/3J2dP9TV1X/U1dV/1NXVf9TV1X/WFxa/4iM
					i/9XXFry////AP///wD///8A////AFtgX8S2
					u7n/1NrW/9LZ1v/U29f/1dzZ/9bc2v/Y3dr/
					2N7c/9je2//Z39z/2d7b/9fc2f+BhoT/U1dV
					/1NXVf9TV1X/YWVj/3+Dgv9bYF/E////AP//
					/wD///8A////AFVZV4ScoZ/81tzZ/9HY1f/S
					2db/1NrX/9Xb2P/V3Nn/193a/9fe2//X3dr/
					1t3a/9bc2f/T2tf/fYKA/1NXVf9TV1X/bHBu
					/4CDgf5VWVeE////AP///wD///8A////AFNW
					Vk1zd3T02+He/8/X0//Q2NT/0dnV/9LZ1v/T
					2tb/jZCM/0VFP/+NkIz/1NzZ/9Tb2P/U2tf/
					ucC9/1NXVf9VWFf/gIOC/29ycPZTVlZN////
					AP///wD///8A////AFVVVQNaX1zVsre1/dfe
					2//P19P/0NfT/9DY1P/S2tb/RUU+/zY0Lv9F
					RT7/09rW/9LZ1v/R2NX/x87L/1NXVf9ydXT/
					goaF/1pfXNVVVVUD////AP///wD///8A////
					AP///wBRV1cpXmBf9NTZ1//T29f/z9fT/8/X
					0//P19P/i46K/0VFPv+Ljor/0NjU/9DX1P/Q
					19T/tbu4/2RoZv+NkI//XV9e9VFXVyn///8A
					////AP///wD///8A////AP///wD///8AVltZ
					eXd8efTV2df/2N/b/8/X0//P19P/z9fT/8/X
					0//P19P/z9fT/8/X0//P19P/k5eV/4yPjf9z
					d3T2VltZef///wD///8A////AP///wD///8A
					////AP///wD///8AgICAAlZbWXleYF/0tLq4
					/d7j4P/Y3tv/1NvY/9HY1f/R2NX/1NvY/9je
					2/+4vLr/kJSS/l1eXvZWW1l5gICAAv///wD/
					//8A////AP///wD///8A////AP///wD///8A
					////AP///wBRV1cpWl9c1XZ6d/ShpqP9vcLA
					/9Ta1//U2tf/vcLA/5uhn/10d3T1Wl9c1VFX
					Vyn///8A////AP///wD///8A////AP///wD/
					//8A////AP///wD///8A////AP///wD///8A
					VVVVA1NWVk1VWVeEW2BfxFdcWvJXXFryW2Bf
					xFVZV4RTVlZNVVVVA////wD///8A////AP//
					/wD///8A////AP///wD///8A////AP///wD/
					//8A////AP///wD///8A////AP///wD///8A
					////AP///wD///8A////AP///wD///8A////
					AP///wD///8A////AP///wD///8A////AP//
					/wD///8A////AP///wD///8A////AP///wD/
					//8A////AP///wD///8A////AP///wD///8A
					////AP///wD///8A////AP///wD///8A////
					AP///wD///8A////AP///wD/4/8A/AAfAPAA
					BwDwAAcA8AAPAPAADwDgAAcAwAADAMAAAwDA
					AAMAwAADAMAAAwDAAAMAwAADAMAAAwDAAAMA
					wAADAOAABwDwAA8A8AAPAPwAPwD+AH8A////
					AP///wA=
					</data>
					<key>FavIconUsed</key>
					<true/>
					<key>GoogleAnalyticsCode</key>
					<string>&lt;script&gt;
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60205658-1', 'auto');
  ga('send', 'pageview');

&lt;/script&gt;</string>
					<key>LogoUsed</key>
					<false/>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>myManitoba</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Manitoba</string>
					<key>TitleText</key>
					<string>Saeed Mirshekari's Homepage</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>QuickLook</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
